<form id="form_gr_add_group" action="">
<div id="modal_gr_add_group" class="modal">
    <div class="modal-content white">
        <h4>Creare Grup</h4>
        <div class="row">
            <div class="clearfix"></div>
            <div class="col s12 m12">
                <input type="hidden" name="color" value="red">
                <div class="colorbox">
                    <div class="blue"></div>
                    <div class="red"></div>
                    <div class="purple"></div>
                    <div class="yellow"></div>
                    <div class="green"></div>
                    <div class="indigo"></div>
                    <div class="orange"></div>
                    <div class="pink"></div>
                    <div class="teal"></div>
                    <div class="amber"></div>
                </div>
            </div>
            <div class="input-field col s12">
                <input name="title" id="inp_add_event_title" type="text"  autocomplete="off">
                <label for="inp_add_event_title">Nume / Titlu</label>
            </div>
            <div class="input-field ifmrm col s12">
                <div class="desc_showup_add">
                    <textarea class="materialize-textarea" name="description"></textarea>
                    <label for="inp_add_event_desc">Descriere</label>
                </div>
            </div>
            <input type="submit" class="hide">
        </div>
      </div>
      <div class="modal-footer">
          <a href="#" class="waves-effect btn-flat" id="btn_gr_add_group">Adaugă</a>
          <a href="#" class="modal-action modal-close waves-effect btn-flat">Închide</a>
      </div>
</div>
</form>
