<div id="modal_help" class="modal">
    <div class="modal-content white">
      <h4>Ajutor</h4>
      <p>
          La adăugarea unui eveniment, dacă data nu va fi completată, aceasta se va seta automat pe astăzi, iar ora pe ora curentă.<br>
          Dacă anul nu va fi completat, se va completa automat anul curent.<br>
          Exemple de date/ore acceptate:
      </p>
      <pre class="pre">15 iun<br>15.6.2016<br>15:06<br>15 iunie<br>15 &nbsp; iuni</pre>
      <pre class="pre">16<br>8 20<br>9:55<br>15.4<br>12.22</pre>
      <div class="clearfix"></div>
      <code>Alt+A</code> - adăugare eveniment nou<br>
      <code>Esc</code> - închidere fereastră popup
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect  btn-flat">Închide</a>
    </div>
</div>
