<div id="modal_settings" class="modal">
    <form id="form_settings" action="" method="post">
    <div class="modal-content white">
      <h4>Contul Meu</h4>
      <div class="row">
          <div class="input-field col s12 m6">
              <input name="name" id="settings_name" type="text" autocomplete="off">
              <label for="settings_name">Nume</label>
          </div>
          <div class="input-field col s12 m6">
              <input name="email" id="settings_email" type="email" autocomplete="off">
              <label for="settings_email">Email</label>
          </div>
          <br>
          <div class="col s12">
              <h5>Schimbare parolă</h5>
          </div>
          <div class="input-field col s12 m6">
              <input name="opassword" id="settings_opassword" type="password" autocomplete="off">
              <label for="settings_opassword">Vechea parolă</label>
          </div>
          <div class="input-field col s12 m6">
              <input name="password" id="settings_password" type="password" autocomplete="off">
              <label for="settings_password">Noua parolă</label>
          </div>
          <div class="input-field col s12 m6">
              <input type="submit" class="hide">
          </div>
          <div class="input-field col s12 m6">
              <input name="cpassword" id="settings_cpassword" type="password" autocomplete="off">
              <label for="settings_cpassword">Rescrie parola</label>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect btn-flat" id="btn_submit_settingsform">Salvează</a>
        <a href="#" class="modal-action modal-close waves-effect btn-flat">Închide</a>
    </div>
    </form>
</div>
