<form id="form_add_event" class="modtabc" action="">
    <div class="row">
        <div class="clearfix"></div>
        <div class="col s12 m12">
            <input type="hidden" name="color" value="red">
            <div class="colorbox">
                <div class="blue"></div>
                <div class="red"></div>
                <div class="purple"></div>
                <div class="yellow"></div>
                <div class="green"></div>
                <div class="indigo"></div>
                <div class="orange"></div>
                <div class="pink"></div>
                <div class="teal"></div>
                <div class="amber"></div>
            </div>
        </div>
        <div class="input-field col l6 m12 s12">
            <input name="title" id="inp_add_event_title" type="text"  autocomplete="off">
            <label for="inp_add_event_title">Nume / Titlu</label>
        </div>
        <div class="input-field col l6 m12 s12 simpmgtop">
            <div class="smimpmg doubledate">
                <div class="dategroup gr1">
                    <input type="text" name="start_date" class="inpsmalldt inpsmalldt2" placeholder="zz ll [aaaa]" class="col m2" maxlength="20" autocomplete="off"> -
                    <input type="text" name="start_time" class="inpsmalldt" placeholder="hh[:mm]" maxlength="7" autocomplete="off">
                    <span class="btn-floating smallfbtn blue tooltipped" data-tooltip="Început" data-position="right"><i class="material-icons">play_arrow</i></span>
                </div>
                <div class="dategroup gr2">
                    <input type="text" name="end_date" class="inpsmalldt inpsmalldt2" placeholder="zz ll [aaaa]" class="col m2" maxlength="20" autocomplete="off"> -
                    <input type="text" name="end_time" class="inpsmalldt" placeholder="hh[:mm]" maxlength="7" autocomplete="off">
                    <span class="btn-floating smallfbtn red tooltiped" data-tooltip="Încheiere" data-position="right"><i class="material-icons">stop</i></span>
                </div>
            </div>
        </div>
        <div class="input-field ifmrm col s12">
            <div class="desc_showup_add">
                <textarea class="materialize-textarea" name="description" id="inp_add_event_desc"></textarea>
                <label for="inp_add_event_desc">Descriere</label>
            </div>
        </div>
        <div class="input-field ifmrm col s12">
            <div class="desc_showup_add">
                <input name="location" id="inp_add_event_location" type="text" autocomplete="off">
                <label for="inp_add_event_location">Locație</label>
            </div>
        </div>
        <input type="submit" class="hide">
    </div>
</form>
