<div id="modal_archive" class="modal">
    <div class="modal-content white">
      <h4>Arhivă</h4>
      <div class="archtop">
          <a href="#" class="btn-flat waves-effect waves-red">Lună</a>
          <a href="#" class="btn-flat waves-effect waves-red">Lună</a>
          <a href="#" class="btn-flat waves-effect waves-red">Test</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect  btn-flat">Închide</a>
    </div>
</div>
