html,body,.row{
    background: #3084FF;
    height: 100%;
}
.leftlog{
    background: white;
    min-height: 100%;
}
.rightlog{
    color: white;
}
.white{
    color: black;
    background: transparent;
}
