html,body{
    height: 100%;
    background: #F6F6F6;
}
.colorbar{
    background: #3084FF;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
.row.body{
    min-height: 100%;
    /*height: 100%;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.row .loginbox{
    flex: 50%;
    min-height: 100%;
    /*text-align: center;*/
    padding: 20px;
}
@media(max-width: 700px){
    .row .loginbox{
        flex: 100%;
    }
}
.loginbox.nr1{
    background: #fff;
}
.loginbox.nr1 .header{
    color: #2196F3;
    text-align: center;
}
.loginbox.nr2{
    background: #3084FF;
    color: #fff;
    padding-top: 7%;
}
.loginbox .inpad{
    display: block;
    margin: auto;
    float: none;
    margin-top: 50px;
}
#loadingbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
