<div class="subheader">
    <div class="subc">
        <span class="title">{{title is defined ? title|upper : 'Erasmus + Project - The Voice of Young Europe'}}</span>
        <div id="breadcrumb">
            <a href="{{l('/')}}">Home</a> <i class="fa fa-angle-right"></i>
            <span>{{bc_end is defined ? bc_end : title is defined?title:'Home'}}</span>
        </div>
    </div>
</div>