<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>    
{% if meta is defined %}{% for key,itm in meta %}
<meta name="{{key}}" content="{{itm}}">
{% endfor %}{% endif %}
