<form id="form_add_event" class="modtabc" action="">
    <div class="row">
        <div class="input-field col l6 m12 s12">
            <input name="title" id="title" type="text">
            <label for="title">Nume / Titlu</label>
        </div>
        <div class="input-field col l6 m12 s12 simpmgtop">
            <div class="smimpmg doubledate">
                <div class="dategroup gr1">
                    <input type="text" name="start_date" class="inpsmalldt inpsmalldt2" placeholder="zz ll [aaaa]" class="col m2" maxlength="20"> -
                    <input type="text" name="start_time" class="inpsmalldt" placeholder="hh[:mm]" maxlength="7">
                    <span class="btn-floating smallfbtn blue"><i class="material-icons">play_arrow</i></span>
                </div>
                <div class="dategroup gr2">
                    <input type="text" name="start_date" class="inpsmalldt inpsmalldt2" placeholder="zz ll [aaaa]" class="col m2" maxlength="20"> -
                    <input type="text" name="start_time" class="inpsmalldt" placeholder="hh[:mm]" maxlength="7">
                    <span class="btn-floating smallfbtn red"><i class="material-icons">stop</i></span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="input-field col s12">
            <a href="#" class="simple_show_anddel" data-target=".desc_showup_add">Adaugă descriere</a>
            <div class="hide desc_showup_add">
                <textarea class="materialize-textarea" name="description" id="inp_add_event_desc" rows="1"></textarea>
                <label for="inp_add_event_desc">Descriere</label>
            </div>
        </div>
        <input type="submit" class="hide">
    </div>
</form>
