<div id="modal_list" class="modal">
    <div class="modal-content white">
        <h4>ToDo list</h4>
        <div class="todolist row">
            <div class="col s12 input-field">
                <form action="" id="todo_add_form">
                    <input name="title" id="todo_add_item" type="text" autocomplete="off">
                    <label for="todo_add_item">Adaugă element în listă</label>
                    <input type="submit" class="hide">
                </form>
            </div>
            <div class="waited col m6 s12">
                <div class="item">
                    <input type="checkbox" id="element_1" />
                    <label for="element_1">Go to school</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="element_2" />
                    <label for="element_2">Fix update</label>
                </div>
            </div>
            <div class="doned col m6 s12">
                <div class="item">
                    <input type="checkbox" id="element_3" checked="checked" />
                    <label for="element_3">Generatte day</label>
                </div>
                <div class="item done">
                    <input type="checkbox" id="element_4" checked="checked" />
                    <label for="element_4">go to school</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-blue btn-flat">Închide</a>
    </div>
</div>
