.row .loginbox{
    flex: 50%;
    min-height: 100%;
    /*text-align: center;*/
    padding: 20px;
    padding-top: 12vh;
}
@media(max-width: 700px){
    .row .loginbox{
        flex: 100%;
    }
}
.loginbox.nr1{
    background: #fff;
}
.loginbox.nr1 .header{
    color: #2196F3;
    text-align: center;
}
.loginbox.nr2{
    padding-top: 2vh;
    background: #3084FF;
    color: #fff;
}
.loginbox.nr2 p{
    font-size: 22px;
}
.loginbox.nr3{
    padding-top: 1vh;
    background: #3084FF;
}
.loginbox .inpad{
    display: block;
    margin: auto;
    float: none;
}
#loadingbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.logo2{
    max-width: 185px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
.loginbox.nr3 .logo2{
    margin-bottom: 20px;
}
.rellogo{
    height: 250px;
    display: block;
    margin: 20px auto;
    margin-bottom: 10px;
}
.fullpageform{
    background: white;
    text-align: left;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.fullpageform .header{
    text-align: center;
}
.fullpageform .header i.material-icons{
    color: #2196F3;
    font-size: 4rem;
}
.fullpageform .header h2{
    margin: 0;
    font-size: 20px;
}
.fullpageform p{
    text-align: center;
}
@media(min-height: 800px){
    .loginbox.nr1{
        padding-top: 20vh;
    }
    .loginbox.nr2{
        padding-top: 15vh;
    }
}
