#dash .body{
    margin: auto;
    margin-top: 7vh;
    width: 95%;
    max-width: 960px;
    background: #fff;
    min-height: 300px;
    position: relative;
}
.topmenu{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.25);
    position: relative;
    color: white;
    /*border-bottom: 2px solid white;*/
}
.topmenu>.flex{
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.topmenu .tmspl{
    flex: 33.3%;
}
.topmenu .tmspl:nth-child(1){
    border-left: none;
}
.tmspl .logo{
    font-size: 30px;
    line-height: 47px;
}
.tmspl .logo img{
    margin: 5px 0;
    height: 40px;
    vertical-align: top;
    margin-right: 5px;
}
.switchdd{
    width: 48px;
    float: right;
    height: 48px;
    text-align: center;
}
.switchdd>i{
    color: #fff;
    font-size: 36px;
    line-height: 48px;
}
#toptime{
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
}
#toptime .time{
    font-size: 19px;
    padding: 1px;
    padding-bottom: 2px;
    display: inline-block;
}
@media(max-width:500px){
    .topmenu .tmspl.notmobile{
        display: none;
    }
    .topmenu .tmspl:nth-child(1){
        flex: 66%;
    }
}

.modtabc{
    display: block;
    padding: 15px 0;
}
.color_selector{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
}
.colors_selector_field{
    white-space: nowrap;
    padding-top: 5px!important;
    padding-bottom: 15px!important;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
}
@media(min-width:900px){
    .colors_selector_field{
        padding-left: 0;
        padding-right: 0;
        height: auto;
        overflow-x: auto;
        white-space: normal;
    }
}
@media(max-width: 1025px){
    .color_selector{
        width: 30px;
        height: 30px;
    }
}
@media(max-width:900px){
    .color_selector{
        width: 40px;
        height: 40px;
    }
}

input.inpsmalldt{
    width: 70px;
    padding: 0;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 0;
}
input.inpsmalldt2{
    width: 100px;
}
.simpmgtop{
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
    float: right;
    overflow: hidden;
    height: 64px;
}
.smimpmg{
    text-align: center;
    padding-top: 35px!important;
    padding-bottom: 15px!important;
    transition: .25s all;
}
.doubledate{
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
}
.doubledate .dategroup{
    margin-bottom: 8px;
}
.smallfbtn{
    box-shadow: none!important;
    width: 25px;
    height: 25px;

}
.smallfbtn>i{
    font-size: 21px;
    line-height: 25px;
}
.dg2ed{
    display: none;
}
