#dash .body{
    margin: auto;
    margin-top: 7vh;
    width: 95%;
    max-width: 80vw;
    background: #fff;
    min-height: 300px;
    position: relative;
}
.topmenu{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.25);
    position: relative;
    color: white;
    /*border-bottom: 2px solid white;*/
}
.topmenu>.flex{
    width: 100%;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.topmenu .tmspl{
    flex: 33.3%;
}
.topmenu .tmspl:nth-child(1){
    border-left: none;
}
.tmspl .logo{
    font-size: 30px;
    line-height: 47px;
}
.tmspl .logo img{
    margin: 5px 0;
    height: 40px;
    vertical-align: top;
    margin-right: 5px;
}
.switchdd{
    width: 48px;
    float: right;
    height: 48px;
    text-align: center;
}
.switchdd>i{
    color: #fff;
    font-size: 36px;
    line-height: 48px;
}
#toptime{
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
}
#toptime .time{
    font-size: 19px;
    padding: 1px;
    padding-bottom: 2px;
    display: inline-block;
}
@media(max-width:580px){
    .topmenu .tmspl.notmobile{
        display: none;
    }
    .topmenu .tmspl:nth-child(1){
        flex: 66%;
    }
    #toptime{
        display: none;
    }
}

.modtabc{
    display: block;
    padding: 15px 0;
    padding-top: 0;
}
.color_selector{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
}
.colors_selector_field{
    white-space: nowrap;
    padding-top: 5px!important;
    padding-bottom: 15px!important;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
}
@media(min-width:900px){
    .colors_selector_field{
        padding-left: 0;
        padding-right: 0;
        height: auto;
        overflow-x: auto;
        white-space: normal;
    }
}
@media(max-width: 1025px){
    .color_selector{
        width: 30px;
        height: 30px;
    }
}
@media(max-width:900px){
    .color_selector{
        width: 40px;
        height: 40px;
    }
}

input.inpsmalldt{
    width: 70px;
    padding: 0;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 0;
}
input.inpsmalldt2{
    width: 100px;
}
@media(max-width: 400px){
    input.inpsmalldt{
        margin-right: 0;
    }
    input.inpsmalldt{
        width: 50px;
    }
    input.inpsmalldt2{
        width: 100px;
    }
}
.simpmgtop{
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
    float: right;
    overflow: hidden;
}
.smimpmg{
    text-align: center;
    padding-top: 35px!important;
    padding-bottom: 15px!important;
    transition: .25s all;
}
.doubledate{
    padding-top: 1px!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
}
.doubledate .dategroup{
    margin-bottom: 8px;
    overflow: visible;
}
.smallfbtn{
    box-shadow: none!important;
    width: 25px;
    height: 25px;

}
.smallfbtn>i{
    font-size: 21px;
    line-height: 25px;
}
.dg2ed{
    display: none;
}
.colorbox{
    text-align: center;
    cursor: pointer;
}
.colorbox>div{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 1px;
    border-radius: 5px;
    transition: .2s all;
}
.colorbox>div.selected{
    border: 3px solid #FFF;
    outline: 1px solid #000000;
}
.modal.loading{
    opacity: .6!important;
}
.modal h4{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    border-bottom: 2px solid #f44336;
    color: #F44336;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
#tab_add_event{
    padding-top: 4px;
}
.modal form > .row{
    margin-bottom: 0;
}
.modal .materialize-textarea{
    height: 30px;
    min-height: 30px;
}
.shadowtext{
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-style: italic;
    color: #999;
    text-align: center;
}
.shadowtext.big{
    font-size: 16px;
}
.fixed-action-btn .btn-floating:not(.btn-large){
    margin-right: 9.5px;
}
.fixed-action-btn .btn-floating:not(.btn-large) i{
    font-size: 1.57rem;
}
.editor_map{
    width: 100%;
    height: 200px;
    border: 0;
    background: #eee;
}
.input-field.ifmrm{
    margin-top: 4px;
}
.modal p{
    margin-bottom: 0;
}
.modal pre.pre{
    display: inline-block;
    background: #eee;
    float:left;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.modal code{
    background: #eee;
    padding: 3px 7px;
    border-radius: 3px;
    line-height: 28px;
}
.todolist{
    padding-top: 3px;
    padding-left: 30px;
}
.todolist .item{
    padding-left: 3px;
    padding-top: 3px;
    overflow: hidden;
}
.todolist .waited .item label{
    color: #333;
}
.todolist .doned .item label{
    color: #999;
    text-decoration: line-through;
}
.btnfl1{
    bottom: 35px;
    right: 24px;
}
.btnfl2{
    bottom: 98px;
    right: 24px;
}
.btnfl3{
    bottom: 142px;
    right: 24px;
}
.btnfl4{
    bottom: 186px;
    right: 24px;
}
@media(min-width: 210px) and (max-width: 500px){
    .btnfl1{
        bottom: 25px;
        right: 24px;
    }
    .btnfl2{
        bottom: 35px;
        right: 84px;
    }
    .btnfl3{
        bottom: 35px;
        right: 130px;
    }
    .btnfl4{
        bottom: 35px;
        right: 180px;
    }
}
.modal h5{
    padding: 0 10px;
    font-size: 18px;
    margin: 0;
    margin-top: 20px;
    color: #656565;
    font-family: Roboto;
    display: block;
    float: left;
}
.modal h5:after {
    display: block;
    content: '';
    background: #656565;
    width: 110%;
    height: 2px;
    margin-top: 5px;
}
.maindsh{
    min-height: 73vh;
}
.bar{
    width: 100%;
    height: 6px;
    display: block;
    background: black;
}
