.group_interface{
    padding: 20px 30px;
}
.grs1_hd1{
    text-align: center;
    padding: 10px 0;
    /*overflow: hidden;*/
}
.grs1_hd1 h2{
    margin: 0;
    font-size: 30px;
}
.grs1_list{
    padding: 20px 0;
}
.grs1_list .card-action{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.grs1_list .card-action .btn-flat{
    color: black!important;
    margin-right: 0!important;
}
.grs1_list .shadowtext{
    margin-top: 21px;
    font-size: 30px;
}
.grs1_hd2{
    position: relative;
    display: block;
    padding: 12px 0;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.grs1_hd2_icon{
    position: absolute;
    float: left;
    left: 0;
    font-size: 27px;
    line-height: 27px;
    color: white;
    text-decoration: none;
    padding-left: 14px;
    transition: .3s padding-left;
}
.grs1_hd2_icon:hover{
    padding-left: 8px;
}
.group_interface .card-content{
    height: 137px;
    overflow: hidden;
}
