.landing .header{
    background: #3084FF;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
.landing .header.lheadersm{
    min-height: 93vh;
}
.landing .header .logo{
    display: block;
    margin: auto;
    height: 30vh;
    margin-top: 13vh;
    margin-bottom: 5vh;
}
.landing .header .headertitle{
	color: rgba(255, 255, 255, 0.8);
    font-size: 55px;
    font-family: Roboto;
    margin-bottom: 4.5vh;
    margin-top: 5vh;
}
@media(max-width: 500px){
    .landing .header .headertitle{
        font-size: 35px;
    }
}
.landing .header .headerline{
    display: block;
    margin: auto;
    margin-bottom: 10vh;
    width: 98%;
    max-width: 60vw;
    text-align: center;
    font-family: Roboto, sans-serif;
	font-size: 19px;
    max-width: 700px;
    font-weight: 400;
  	color: white;
}
.landing .header .btncont{
    margin: auto;
    margin-bottom: 2.5vh;
    width: 98%;
    max-width: 70vw;
    text-align: center;
}
.landing .header .btncont .btn{
    margin: 1.5vh 1.5vw;
    width: 98%;
    max-width: 255px;
}
.landing .header .btncont .btn:nth-child(2){
    /*float: right;*/
}
.slimlink{
    display: inline-block;
    margin: auto;
    color: rgba(0,0,0,.4);
    text-align: center;
    text-decoration: none;
    font-family: Roboto, 'Open Sans', sans-serif;
}


.landing .inner{
  width: 95%;
  max-width: 80vw;
  margin: auto;
}
.landing .inner:after{
    content: '';
    display: block;
    clear: both;
}
.landing .header .topline{
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 20px;
}
.landing .header .topline .logo{
	float: left;
    height: 80px;
	margin: 0;
}
.landing .header .topline .logotext{
	float: left;
    line-height: 80px;
    margin-left: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.95);
}
.landing .header .topline .right{
	font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
  	line-height: 80px;
}
@media(max-width:500px){
	.landing .header .topline .right{
		display: none;
	}
}
.landing .header .topline .right strong{
    text-transform: uppercase;
    font-weight: 500;
}
.landing .headercolorbar{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.landing .headercolorbar>div{
    width: 11.11%;
    height: 4vw;
    background: #f54632;
    float: left;
}
@media(max-width: 500px){
    .landing .headercolorbar>div{
        width: 16.66%;
        height: 6vw;
    }
    .landing .headercolorbar .color4, .landing .headercolorbar .color6, .landing .headercolorbar .color8{
        display: none;
    }
}
.landing .headercolorbar .color1{
    background: #f54632;
}
.landing .headercolorbar .color1{
    background: #f54632;
}
.landing .headercolorbar .color2{
    background: #673ab7;
}
.landing .headercolorbar .color3{
    background: #2196f3;
}
.landing .headercolorbar .color4{
    background: #00bcd4;
}
.landing .headercolorbar .color5{
    background: #4caf50;
}
.landing .headercolorbar .color6{
    background: #cddc39;
}
.landing .headercolorbar .color7{
    background: #ffc107;
}
.landing .headercolorbar .color8{
    background: #ff5722;
}
.landing .headercolorbar .color9{
    background: #795548;
}
.landing .subheader{
    background: #fafafa;
    padding: 40px 0;
}
.landing .subheader .sh-itm{
    text-align: center;
    padding: 30px 10px;
    color: #555;
}
.landing .subheader .sh-itm .material-icons{
    font-size: 60px;
}
.landing .subheader .sh-itm h3{
    font-size: 27px;
}


.landing .section2{
    background: white;
    padding: 60px 0;
}
.landing .section2 h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
}
.landing .section2 .gallery img{
    display: inline-block;

}
.landing .section2 p .material-icons{
    vertical-align: bottom;
    font-size: 30px;
}
.landing .section2 p{
    font-size: 18px;
    margin-bottom: 5px;
}
.landing .lfooter{
    background: #3084FF;
    height: 70px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    line-height: 20px;
    padding: 25px 0;
}
.landing .lfooter .left{
    float: left;
}
.landing .lfooter a{
    color: white;
    text-decoration: underline;
}
.landing .lfooter a:hover{
    text-decoration: none;
}
