.row .loginbox{
    flex: 50%;
    min-height: 100%;
    /*text-align: center;*/
    padding: 20px;
    padding-top: 12vh;
}
@media(max-width: 700px){
    .row .loginbox{
        flex: 100%;
    }
}
.loginbox.nr1{
    background: #fff;
}
.loginbox.nr1 .header{
    color: #2196F3;
    text-align: center;
}
.loginbox.nr2{
    background: #3084FF;
    color: #fff;
}
.loginbox .inpad{
    display: block;
    margin: auto;
    float: none;
}
#loadingbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
