<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
</head>
<body id="dash">
    <div class="colorbar"></div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red waves-effect waves-light" id="btn_add">
        <i class="large material-icons">&#xE145;</i>
        </a>
    </div>
    <div id="modal_add" class="modal">
        <div class="modal-content white">
        <div class="row">
            <div class="col s12">
            <ul class="tabs" id="tabs_addforms">
                <li class="tab col s2"><a href="#tab_add_event" class="active">Eveniment</a></li>
                <li class="tab col s2"><a href="#tab_add_project">Proiect</a></li>
                <li class="tab col s2"><a href="#tab_add_deadline">Deadline</a></li>
            </ul>
            </div>
            <div id="tab_add_event" class="col s12">{% include 'sub/dash_addevent.twig' %}</div>
            <div id="tab_add_project" class="col s12">{% include 'sub/dash_addproj.twig' %}</div>
            <div id="tab_add_deadline" class="col s12">{% include 'sub/dash_adddeadl.twig' %}</div>
        </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-green btn-flat" id="btn_submit_addform">Adăugare</a>
        </div>
    </div>
    <div class="row">
    <div class="topmenu">
        <div class="flex">
            <div class="tmspl">
                <div class="logo">DaySplit</div>
            </div>
            <div class="tmspl">
                <a href="#" class="dropdown-button switchdd waves-effect" data-activates="switcher_drd"><i class="material-icons">&#xE8EE;</i></a>
                <ul id="switcher_drd" class="dropdown-content">
                    <li><a href="#!">Vizualizare pe săptămână</a></li>
                    <li><a href="#!">Mode view 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">three</a></li>
                </ul>
                <div id="toptime">
                    <span class="time">13:44:44 <small>(GMT+3)</small></span><br>
                    <span class="date">Marți, 17 Martie 2016</span>
                </div>
            </div>
            <div class="tmspl">
            </div>
        </div>
    </div>
    <div class="body z-depth-1" id="data">
        <div class="interface_1">
            <div class="col_left">
                <div class="col_header">Ora</div>
                <div class="col_contleft">
                    <div>5:00</div>
                    <div>6:00</div>
                    <div>7:00</div>
                    <div>8:00</div>
                    <div>9:00</div>
                    <div>10:00</div>
                    <div>11:00</div>
                    <div>12:00</div>
                    <div>13:00</div>
                    <div>14:00</div>
                    <div>15:00</div>
                    <div>16:00</div>
                    <div>17:00</div>
                    <div>18:00</div>
                    <div>19:00</div>
                    <div>20:00</div>
                    <div>21:00</div>
                    <div>22:00</div>
                    <div>23:00</div>
                </div>
            </div>
            <div class="col_main">
                <div class="col_header">Miercuri, 20 aprilie</div>
                <div class="col_inner col_innte_1">
                    <!-- <div class="period red"></div>
                    <div class="period purple"></div>
                    <div class="period blue"></div>
                    <div class="period orange"></div> -->
                </div>
            </div>
            <div class="col_main">
                <div class="col_header">Joi, 21 aprilie</div>
                <div class="col_inner col_innte_2">

                </div>
            </div>
            <div class="col_main">
                <div class="col_header">Vineri, 22 aprilie</div>
                <div class="col_inner col_innte_3">

                </div>
            </div>
        </div>

    </div>
    {% include 'part/scripts.twig' %}
</body>
</html>
